/*--------------------------------------------------------------
 Navbar
 --------------------------------------------------------------*/
#navbar {
	clear: both;
	padding: 1em 0em;
	text-align: left;
	float: left;
	font-size: 2em;
}

#navbar .menu {
	padding-right: 1em;
}

/*--------------------------------------------------------------
 Content
 --------------------------------------------------------------*/

#content {
	width: 60%;
}

/*--------------------------------------------------------------
 Sponsors
 --------------------------------------------------------------*/

#sponsors .sponsor {
	padding-top: 2em;
}

/*--------------------------------------------------------------
 Footer
 --------------------------------------------------------------*/

#footer {
	font-size: 1em;
}

#footer #infomenu {
	float: left;
	font-size: 1.5em;
}

#footer #copyright {
	float: left;
	padding-top: 2.5em;
}