/*--------------------------------------------------------------
 Header
 --------------------------------------------------------------*/

#sitetitle {
	font-size: 2em;
	float: right;
	padding: 1em;
}

#navbar {
	background-color: #ffffff;
	border: 1px solid #ddd;
	margin-top: 1em;
}

/*--------------------------------------------------------------
 Container
 --------------------------------------------------------------*/

#container {
	font-size: 1.5em;
	text-align: left;
	padding: 1em;
	margin: 1em;
	line-height: 1.5em;
}

/*--------------------------------------------------------------
 Navbar
 --------------------------------------------------------------*/
#navbar {
	clear: both;
	padding: 1em 0.5em;
	text-align: left;
	float: left;
	font-size: 2em;
}

#navbar .menu {
	padding-right: 1em;
}

/*--------------------------------------------------------------
 Page
 --------------------------------------------------------------*/

#page {
	background-color: #ffffff;
	border: 1px solid #ddd;
	float: left;
	padding: 1em 1em;
}


/*--------------------------------------------------------------
 Content
 --------------------------------------------------------------*/

#content {
	width: 100%;
}

/*--------------------------------------------------------------
 Sidebar
 --------------------------------------------------------------*/

#sidebar {
	clear: both;
	display: none;
} 

/*--------------------------------------------------------------
 Footer
 --------------------------------------------------------------*/

#footer {
	font-size: 1em;
}

#footer #infomenu {
	clear: both;
	float: left;
	font-size: 1.5em;
	background-color: #ffffff;
	border: 1px solid #ddd;
	width: 100%;
	padding-bottom: 2em;
}

#footer #copyright {
	float: left;
	padding-top: 2.5em;
}

#footer #infomenu .menu li {
	display: block;
}

#footer #infomenu .menu li a {
	border: 0;
}

ul span {
	font-size: 1em;
}

ul li {
	line-height: 1em;
	padding-bottom: 2em;
}
