<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Seattle Xcoders - {{ page.title }}</title>
<link href="http://feeds2.feedburner.com/seattlexcoders" rel="alternate" title="RSS" type="application/rss+xml" />
<link href="atom.xml" rel="alternate" title="coding in the rain" type="application/atom+xml" />
<link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" media="screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" />
<link rel="stylesheet" media="screen and (max-device-width: 768px)" href="/css/ipad.css" type="text/css" />
<link rel="stylesheet" media="all and (orientation:portrait)" href="/css/portrait.css" type="text/css" />
<link rel="stylesheet" media="all and (orientation:landscape)" href="/css/landscape.css" type="text/css" />
