<div id="sidebar">
	<div id="upcoming" class="notice">
		<h3>Come Join Us on <a href="https://www.meetup.com/xcoders/">Meetup</a>!</h3>
	</div>
	<div id="twitter" class="notice">
		{% include twitter.html %}
	</div>
	<div id="sponsors" class="notice">
		<h3>Sponsors</h3>
		<div class="sponsor"><a href="http://flyingmeat.com"><img src="/images/fmlogo.png" alt="Flying Meat" title="Flying Meat" /></a></div>
		<div class="sponsor"><a href="http://thinkspace.com"><img src="/images/thinkspace.gif" alt="Thinkspace" title="Thinkspace" /></a></div>
		<!-- <div class="sponsor"><a href="http://iphonespring2011.crowdvine.com/"><img src="/images/125x125VTM2011.jpg" alt="Voices That Matter" title="Voices That Matter" /></a></div> -->
	</div>
</div>
