<div id="upcoming">
	<h3>Upcoming Events</h3>
	<iframe src="http://www.google.com/calendar/embed?showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=78pm7dkkim23mirtg958ruc3tc%40group.calendar.google.com&amp;color=%234E5D6C&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="240" height="200" frameborder="0" scrolling="no"></iframe>
</div>
<div id="twitter">
	{% include twitter.html %}
<div id="sponsors">
	<h3>Sponsors</h3>
	<div class="sponsor"><a href="http://flyingmeat.com"><img src="/images/fmlogo.png" alt="Flying Meat" title="Flying Meat" /></a></div>
	<div class="sponsor"><a href="http://thinkspace.com"><img src="/images/thinkspace.gif" alt="Thinkspace" title="Thinkspace" /></a></div>
	<div class="sponsor"><a href="http://http://www.voicesthatmatter.com/iPhone2010/"><img src="/images/vtm_112.jpg" alt="Voices That Matter" title="Voices That Matter" /></a></div>
</div>