<div id="sidebar">
	<div id="upcoming" class="notice">
		<h3>Upcoming Events</h3>
		<iframe src="https://www.google.com/calendar/hosted/seattlexcoders.org/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=200&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=seattlexcoders.org_l9s7riflr8m9j5hbo8quf5iggc%40group.calendar.google.com&amp;color=%235A6986&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="240" height="320" frameborder="0" scrolling="no"></iframe>
	</div>
	<div id="twitter" class="notice">
		{% include twitter.html %}
	</div>
	<div id="sponsors" class="notice">
		<h3>Sponsors</h3>
		<div class="sponsor"><a href="http://flyingmeat.com"><img src="/images/fmlogo.png" alt="Flying Meat" title="Flying Meat" /></a></div>
		<div class="sponsor"><a href="http://thinkspace.com"><img src="/images/thinkspace.gif" alt="Thinkspace" title="Thinkspace" /></a></div>
		<!-- <div class="sponsor"><a href="http://iphonespring2011.crowdvine.com/"><img src="/images/125x125VTM2011.jpg" alt="Voices That Matter" title="Voices That Matter" /></a></div> -->
	</div>
</div>
